@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}
body {
    font-family: "Nunito",helvetica;
}
.highlight-orange {
    color: orange;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img {
    width: 100%;
}