@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}
body {
    margin: 0;
    font-family: "Nunito",helvetica;
}
.highlight-orange {
    color: orange;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
p {
    color: dimgray;
}
section {
    height: 500px;
    clear: both;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area>h2 {
    font-size: 40px;
    text-align: center;
}
.experience {
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img {
    width: 100%;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(45deg,blue,red);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
#fullstack {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,red) 1;
}
#baby {
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan) 1;
}
footer {
    text-align: center;
    padding: 20px 0;
}